body {
    background-color: rgb(140, 140, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.445);
}

p {
    font: normal 15pt Arial;
}

#inp {
    width: 100px;
    font: Normal 15pt Arial;
    padding: 10px;
    margin: 10px;
    font-weight: bold;    
}

#inp2 {
    width: 100px;
    font: Normal 15pt Arial;
    padding: 10px;
    margin: 10px;
    font-weight: bold;    
}

div {
    text-align: center;
    padding: 8px;
}

#ver {
    width: 100px;
    font: Normal 15pt Arial;
    padding: 10px;
    margin: 10px;
    font-weight: bold; 
}

footer {
    color: white;
    text-align: center;
}

@media screen and (max-width: 320px) {
        #imagem {
            margin-left: -4.5%;
    }

    section {
        width: 80%;
    }

    #inp {
        width: 80px;
    }

    #casa2 {
        font-size: 15px;
        margin: -5px;
        margin-top: 5px;
        

    }

    section p {
        margin: 0;
    }
    
    
    }

@media screen and (max-width: 375px) {
  

       
    section {
        width: 80%;
    }

    #inp {
        width: 80px;
    }

    section div p {
        font-size: 15px;

    }

}

@media screen and (max-width: 425px) {
    section {
        width: 80%;
    }

    #inp {
        width: 80px;
    }

    section p {
        font-size: 20px;

    }
    
}

@media screen and (max-width: 768px) {
  
    #inp {
        width: 100px;
    }

    p {
        font-size: 30px;
    }
    
}
